{% extends 'base.html' %}

{% block title %}List of books{% endblock %}

{% block content %}
    <p><a href="{% url 'index' %}">Return to home page</a></p>
    <p><a href="{% url 'book-create' %}"> Create Book</a></p>
    {% if books %}
        <div>
            <p>Average price of books: {{ avg.avg_price|floatformat:2 }}</p>
            <p>Maximum price among books: {{ avg.max_price }}</p>
            <p>Minimum price among books: {{ avg.min_price }}</p>
            <h1>List of books by rating:</h1>
        </div>
        <table cellspacing="2" border="1" cellpadding="5" bgcolor="LightCyan"
               width="50%" rules="rows">
        <caption>List of books by rating:</caption>
        <tr>
            <th>Name</th>
            <th>Pages</th>
            <th>Price</th>
            <th>Rating</th>
            <th>Publisher</th>
            <th>Publication date</th>
            <th>Number of authors</th>
        </tr>
        {% for book in books %}
            <tr align="center">
                <td><a href="{% url 'books_detail' pk=book.pk %}"> {{ book.name }}</a></td>
                <td>{{ book.pages }}</td>
                <td>{{ book.price }}</td>
                <td>{{ book.rating }}</td>
                <td>{{ book.publisher }}</td>
                <td>{{ book.pubdate }}</td>
                <td>{{ book.num_authors }}</td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>There are no books in the library.</p>
    {% endif %}
    <button type="button" onclick="history.back();">Back</button>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}